.new-demo {
    width: 900px;
    margin: 0 auto;
    display: flex;
}
.new-demo .counter {
    width: 500px;
    padding-top: 50px;
    height: 600px;
    overflow: auto;
    margin-right: 20px;
}
.new-demo .counter div {
    display: inline-block;
    font-size: 40px;
}
.new-demo .drag-wrapper-box {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
}

.new-demo .drag-wrapper #drag-element {
    width: 50px;
    height: 50px;
    background: #ccc;
}
.origin-demo {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    height: 1000px;
    overflow: auto;
}
.origin-demo div {
    display: inline-block;
    font-size: 40px;
}
